* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1695px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  flex: 0 0 auto;
  padding-top: 30px;
  .navbar {
    font-family: "PF DinDisplay Pro Medium";
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__adaptive {
      display: none;
      .header__adaptive-burger {
        font-size: 38px;
        color: #5c97ff;
      }
    }
    .header__navbar-block_links {
      display: flex;
      .mobile__navbar-element {
        display: none;
      }
      .header__navbar-link {
        text-decoration: none;
        color: black;
        margin-left: 100px;
        transition: all 0.5s;
        font-size: 17.5px;
        &:hover {
          color: #5c97ff;
        }
      }
    }
  }
  .header__navbar-element.logo img {
    width: 70px;
  }
}

footer {
  background: linear-gradient(
    112.71deg,
    #5c97ff 10.51%,
    rgba(92, 151, 255, 0.58) 103.02%
  );
  padding: 30px 0;
  margin-top: 120px;
  font-family: "PF DinDisplay Pro Medium";
  color: #e3edff;
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__logo-year {
    margin-left: 3px;
  }
  .footer__domain {
    font-size: 28px;
  }
  .footer__logo img {
    width: 130px;
  }
  .footer__links > div {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    a {
      color: white;
    }
  }
}

.button {
  // display: flex;
  font-family: "PF DinDisplay Pro Medium";
  padding: 23px 32px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  text-align: center !important;
  transition: all 0.5s;
  background: linear-gradient(
    94.38deg,
    #5c97ff 16.59%,
    #5c97ff 16.59%,
    #5c97ff 16.6%,
    rgba(92, 151, 255, 0.78) 77.05%
  );
  box-shadow: -9px 9px 35px rgba(92, 151, 255, 0.3);
  border-radius: 23px;
  &:hover {
    box-shadow: -9px 9px 35px rgba(92, 151, 255, 0.77);
  }
  .header__navbar-icon {
    margin-right: 5px;
  }
}

// BURGER
.header__adaptive-burger {
  position: relative;
  width: 65px;
  height: 45px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.logo_adaptive {
  display: none !important;
}

.header__adaptive-burger span {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #000;
  left: 0;
  border-radius: 10px;
  transition: 225ms;
}

.header__adaptive-burger {
  z-index: 5;
  span:nth-child(1) {
    top: 0;
    width: 50%;
  }
  span:nth-child(2) {
    top: calc(50% - 5px);
  }
  span:nth-child(3) {
    bottom: 0;
    width: 50%;
    left: 30px;
  }
}

// BURGER

.header__adaptive-burger {
  z-index: 50;
}

// MAIN

.main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 75px;
  .main-block-head {
    font-family: 'PF DinDisplay Pro Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
  }
  .main-block-1 {
    padding-top: 80px;
  }
    .main-column {
      display: flex;
      flex-direction: column;
    }
    .main-block-img {
      display: flex;
      justify-content: end;
      img {
        width: 828px;
      }
    }
}
.setting-block {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: -9px 9px 35px rgba(0, 0, 0, 0.13);
  border-radius: 28px;
  width: 731px;
}
.setting-block:first-of-type {
  margin-top: 22px;
}
.setting-block + .setting-block {
  margin-top: 60px;
}
.setting-block-head {
  font-family: 'PF DinDisplay Pro Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #777777;
  text-align: center;
  padding-top: 12px;
}
.disabling-system {
  margin-right: 120px;
  margin-top: 39%;
}
.setting-block-input {
  background: rgba(143, 143, 143, 0.13);
  border-radius: 28px;
  height: 35px;
  margin-left: 21px;
  margin-right: 21px;
  display: flex;
  justify-content: space-between;
}
.setting-block-input + .setting-block-input {
  margin-top: 11px;
}
.setting-block-input:last-of-type {
  margin-bottom: 20px;
}
.mdl-textfield {
  padding: 0 !important;
  padding-left: 20px !important;
}
.setting-block-input-p {
  font-family: 'PF DinDisplay Pro Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  padding-right: 15px;
  display: flex;
  color: #7C7C7C;
}

.mdl-button {
  text-transform: none !important;
  background-color: #FFFFFF !important;
  opacity: 1 !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 10px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  width: 222px !important;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.setting-button-off {
  display: flex;
  justify-content: center !important;
  margin-top: 23px;
  padding-bottom: 20px;
}
@media (max-width: 1500px) {
  .main-block-img {
    display: none !important;
  }
  .main-row {
    flex-direction: column;
    margin-left: 15%;
  }
  .disabling-system {
    margin-top: 60px;
  }
}
@media (max-width: 350px) {
  .main-row {
    margin-left: 30px;
  }
  .setting-block-input {
    margin-left: 60px;
    margin-right: 60px;
  }
  .setting-block {
    width: 650px;
  }
}
@media (max-width: 350px) {
  .main-row {
    margin-left: 0;
  }
  .setting-block-input {
    margin-left: 10px;
    margin-right: 10px;
    height: 55px;
  }
  .setting-block {
    width: 500px;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.setting-block.information > div:nth-child(4) >p,
  div.setting-block.information > div:nth-child(2) > p {
  align-items: end;
  }
  .setting-block-input-p {
    text-align: end;
  }
  div.setting-block.close-channels > div:nth-child(3) > a,
  div.setting-block.close-channels > div:nth-child(2) > a {
    align-items: center;
  }
  div.setting-block.disabling-system > div.setting-block-input > p {
    align-items: end;
  }
}